@mixin mainTitle($size, $family, $weight, $color) {
    font-size: $size;
    font-family: $family;
    font-weight: $weight;
    color: $color;
}
@mixin secondaryTitle($size, $family, $color, $lineHeight) {
    font-size: $size;
    font-family: $family;
    color: $color;
    line-height: $lineHeight;
}
