@use 'color';
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body {
    padding: 0;
    margin: 0;

    background-color: color.$primaryBackground;
}

.img-text {
    color: color.$imgText;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin: 10px 0 60px 20px;
}
@media screen and (min-width: 1000px) {
    .main-container {
        background-image: url(/img/topPic.jpg);
        background-size: 1287px;
        background-repeat: no-repeat;
        background-position: top;
        border: 10px solid color.$primaryBlue;
        display: grid;
        margin: auto;
        max-width: 1280px;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: repeat(8, auto);

        grid-template-areas:
            "nav nav nav"
            "head head head"
            "text1 text1 leftp1"
            "img1 img1 img1"
            "rightp2 text2 leftp2"
            "img2 img2 img2"
            "rightp3 text3 leftp3"
            "img3 img3 img3";
    }
    .text-first {
        grid-area: text1;
        display: flex;
        margin-top: 100px;
        margin-left: 127px;
    }
    .p-1 {
        @include mainTitle(48px, "Montserrat", 800, color.$primaryBlue);
    }
}
.navbar {
    max-width: 1280px;
    grid-area: nav;
}
.header {
    flex-direction: column;
    grid-area: head;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-first {
    grid-area: img1;
    img {
        width: 100%;
    }
}
.text-second {
    grid-area: text2;
}
.img-second {
    grid-area: img2;
    margin-top: 71px;
    img {
        width: 100%;
    }
}
.text-third {
    grid-area: text3;
}
.img-third {
    grid-area: img3;
    img {
        width: 100%;
    }
}
.right-placeholder-1 {
    grid-area: rightp1;
    width: 100px;
}
.left-placeholder-1 {
    grid-area: leftp1;
}
.right-placeholder-2 {
    grid-area: rightp2;
}
.left-placeholder-2 {
    grid-area: leftp2;
}
.right-placeholder-3 {
    grid-area: rightp3;
}
.left-placeholder-3 {
    grid-area: leftp3;
}

.p-2 {
    @include secondaryTitle(18px, "Open Sans", color.$indigo, 45px);
}

#text-1 {
    span {
        color: color.$primaryBlue;
        margin-right: 5px;
        padding: 0;
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 72px;
        float: left;
    }
}
#top-pic1-text {
    max-width: 700px;
    margin-top: 55px;
    margin-bottom: 55px;
}

#tree-icon {
    margin-top: 36px;
}

#header-1 {
    margin-top: 148px;
    margin-bottom: 52px;
}

#header-2 p {
    margin: 0 0 57px 0;
    color: color.$primaryRed;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background-color: color.$primaryBlue;
    padding: 12px;
    font-size: 24px;
    letter-spacing: 1.2px;
}

#btn-wrap {
    width: 30px;
    height: 30px;
    padding-top: 12px;
    padding-right: 16px;
}
#logo-container {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
}
#group-1:hover {
    &:first-child {
        fill: black !important;
    }
}
@media screen and (max-width: 1000px) {
    .main-container {
        background-image: url(/img/topPic.jpg);
        background-size: 1287px;
        background-repeat: no-repeat;
        background-position: top;
        border: 10px solid color.$primaryBlue;
        display: grid;
        margin: auto;

        grid-template-columns: 25% 50% 25%;
        grid-template-rows: repeat(8, auto);

        grid-template-areas:
            "nav nav nav"
            "head head head"
            "text1 text1 text1"
            "img1 img1 img1"
            "rightp2 text2 leftp2"
            "img2 img2 img2"
            "rightp3 text3 leftp3"
            "img3 img3 img3";
    }
    #tree-icon {
        display: none;
    }
    .text-first {
        grid-area: text1;
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .p-1 {
        @include mainTitle(36px, "Montserrat", 800, color.$primaryBlue);
    }
}

//hover effectek a gombokon
.color-1:hover {
    fill: #00dcdc94;
    cursor: pointer;
}
.color-3:hover {
    fill: #00dcdc94;
    cursor: pointer;
}
.color-14:hover {
    fill: #00dcdc94;
    cursor: pointer;
}

//effekt az első képen

.img-first figure {
    position: relative;
    margin: 0;
}
.img-first figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.img-first figure:hover::before {
    -webkit-animation: shine 2s;
    animation: shine 2s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

//effekt a térképen

.img-second figure {
    position: relative;
    margin: 0;
}
.img-second figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: "";
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}
.img-second figure:hover::before {
    -webkit-animation: circle 1s;
    animation: circle 1s;
}
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

//effekt a harmadik képen

.img-third figure {
    position: relative;
    margin: 0;
}
.img-third figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.img-third figure:hover::before {
    -webkit-animation: shine 2s;
    animation: shine 2s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
